* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18.59px 16px;
  width: 100vw;
}

.header-wrapper-left {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-wrapper-left > div:not(div:last-child) {
  margin-right: 16px;
}

.header-wrapper-right {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-wrapper-right > div:not(div:last-of-type) {
  margin-right: 16px;
}

.logo {
  padding: 0;
  margin: 0;
  width: 96.55px;
  height: 50.81px;
}

.menu-icon {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  background-image: url(icons/burger.png);
}

.left-vertical-line, .right-vertical-line {
  width: 2px;
  height: 32px;
  background: #EAEAEA;
}

.call {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  background: #FFFFFF url(icons/call.png);
  border: none;
}

.profile {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  background: #FFFFFF url(icons/profile.png);
  border: none;
}

.chat {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  background: #FFFFFF url(icons/chat.png);
  border: none;
}

.repair-icon {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  background-image: url(icons/repair.png);
}

.checkstatus-icon {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  background-image: url(icons/checkstatus.png);
}

.main {
  background-color: #F8F8F8;
  margin-top: 24px;
}

.title {
  display: flex;
}

.title__decoration { 
  margin: 0;
  padding: 0;
  width: 4px;
  height: 40px;
  margin-right: 12px;
  background-color: #41F6D7;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.title__text {
  margin: 0;
  padding: 0;
  height: 40px;
  font-size: 28px;
  font-family: TT Lakes-Bold;
  font-weight: 700;
}

.menu {
  overflow: scroll;
}

.menu::-webkit-scrollbar {
  width: 0;
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  width: max-content;
  height: 40px;
  justify-content: flex-start;
  
}

.list__item {
  margin: 0;
  padding: 7px 20px;
  align-self: baseline;
  font-family: TT Lakes-Medium;
  font-weight: 500;
  font-size: 16px;
}

.list__item_item-switched {
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  background-color: #FFFFFF;
}

.text {
  margin: 0;
  height: auto;
  width: auto;
  font-family: TT Lakes-Regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.continue {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  font-family: TT Lakes-Medium;
  font-weight: 500;
  font-size: 14px;
  background-color:#F8F8F8;
  border: none;
}

.continue::before {
  display: block;
  content: "";
  margin: 0;
  padding: 0;
  margin-right: 8px;
  width: 24px;
  height: 24px;
  background-image: url(icons/expand.png);
}

.text-wrapper {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 20px;
}

.body-wrapper__item {
  margin-top: 0;
  padding: 0 16px;
  padding-bottom: 0;
}

.section-wrapper {
  margin: 0;
  padding: 0;
}

.cps-image {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
}

.i-wrapper {
  margin: 0;
  padding: 0;
  margin-top: 16px;
}

.mobile-menu {
  position: relative;
  top: 0;
  left: 0;
  width: 320px;
  background: #FFFFFF;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

.menu-close {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  background: #FFFFFF url(icons/burgerclose.png);
  border: none;
}

.menu-close:hover {
  transition-property: transform;
  transition-duration: .5s;
  transform: scale(1.1);
  cursor: pointer;
}

.search {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  background: #FFFFFF url(icons/search.png);
  border: none;
}

.search:hover {
  transition-property: transform;
  transition-duration: .5s;
  transform: scale(1.1);
  cursor: pointer;
}

.mobile-menu-header .logo {
  display: block;
}

.mobile-menu-header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 158px;
}

.mobile-menu-header-right {
  display: flex;
  justify-content: end;
}

.mobile-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18.59px 14px;
  width: 320px;
}

.mobile-menu-navigation {
  padding: 24px;
  margin-top: 46px;
}

.mobile-menu-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 416px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: TT Lakes-Medium;
}

.mobile-menu-list__item {
  margin: 0;
  padding: 0;
  height: 24px;
  font-weight: 500;
  letter-spacing: -0.2px;
  font-size: 16px;
}

.mobile-menu-list__item:not(.mobile-menu-list__item_active):hover {
  cursor: pointer;
}

.mobile-menu-list__item_active {
  display: flex;
  align-items: center;
  color: #7E7E82;
}

.mobile-menu-list__item_active::before {
  content: "";
  margin: 0 20px 0 -24px;
  display: block;
  width: 4px;
  height: 32px;
  background: #41F6D7;
  border-radius: 0 50px 50px 0;
}

.mobile-menu-footer {
  padding-left: 24px;
  padding-bottom: 32px;
  margin-top: 268px;
}

.mobile-menu-footer-icons {
  display: flex;
  justify-content: space-between;
  width: 152px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-menu-footer-icons__item {
  margin: 0;
  padding: 0;
}

.mobile-menu-footer-icons .call {
  display: block;
}

.mobile-menu-footer-icons .call:hover {
  transition-property: transform;
  transition-duration: .5s;
  transform: scale(1.1);
  cursor: pointer;
}

.mobile-menu-footer-icons .chat {
  display: block;
}

.mobile-menu-footer-icons .chat:hover {
  transition-property: transform;
  transition-duration: .5s;
  transform: scale(1.1);
  cursor: pointer;
}

.mobile-menu-footer-icons .profile {
  display: block;
}

.mobile-menu-footer-icons .profile:hover {
  transition-property: transform;
  transition-duration: .5s;
  transform: scale(1.1);
  cursor: pointer;
}

.mobile-menu-contacts-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 68px;
  margin-top: 16px;
  margin-bottom: 40px;
}

.email {
  font-family: "TT Lakes-Medium";
  font-weight: 500;
  color: #1B1C21;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: -0.2px;
}

.tel {
  font-family: "TT Lakes-Bold";
  font-weight: 700;
  color: #1B1C21;
  text-decoration: none;
  font-size: 24px;
  letter-spacing: -0.6px;
}

.mobile-menu-language {
  display: flex;
  justify-content: space-between;
  width: 86px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-menu-language__item {
  border: none;
}

.lang-btn {
  border: none;
  font-family: "TT Lakes-Medium";
  font-weight: 500;
  font-size: 16px;
  background: #FFFFFF;
  color: #1B1C21;
}

.lang-btn:not(.lang-btn_active):hover {
  transition-property: transform;
  transition-duration: .5s;
  transform: scale(1.1);
  cursor: pointer;
}

.lang-btn_active {
  color: #7E7E82;
}

@media (min-width: 320px) {
  .icon-description {
    display: none;
  }
  .call {
    display: none;
  }
  .chat {
    display: none;
  }
  .profile {
    display: none;
  }
  .left-vertical-line {
    display: none;
  }
  .hidden-text-1 {
    display: none;
  }
  .hidden-text-2 {
    display: none;
  }
}

@media (min-width: 768px) {
  .icon-description {
    display: none;
  }
  .header {
    width: 100vw;
  }
  .call {
    display: block;
  }
  .chat {
    display: block;
  }
  .profile {
    display: block;
  }
  .left-vertical-line {
    display: block;
  }
  .hidden-text-1 {
    display: inline;
  }
  .section-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cps-image {
    width: 720px;
    height: 208px;
  }
  .text {
    line-height: 20px;
  }
  .text-wrapper {
    margin: 0;
  }
}

@media (min-width: 1120px) {
  body {
    width: 1120px;
    margin: 0 auto;
  }

  .mobile-menu {
    position: absolute;
  }

  .icon-description {
    display: block;
  }

  .header-block-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F8F8;
  }

  .call {
    display: none;
  }
  .chat {
    display: none;
  }
  .profile {
    display: none;
  }
  .left-vertical-line {
    display: none;
  }
  .menu-icon {
    display: none;
  }
  .logo{
    display: none;
  }
  .right-vertical-line {
    display: none;
  }
  .title {
    width: auto;
  }
  .header {
    width: auto;
  }
  .icon-description {
    font-family: TT Lakes-Medium;
    font-weight: 500;
    font-size: 16px;
  }
  .cps-image {
    height: auto;
  }
  .hidden-text-2 {
    display: inline;
  }
  .section-wrapper {
    align-items: flex-start;
  }
  .body-wrapper__item {
    padding-top: 0;
  }
  .menu {
    overflow: hidden;
  }
  .list {
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }
}

@font-face {
  font-family: TT Lakes-Regular;
  src: url('fonts/TTLakes-Regular.ttf');
}

@font-face {
  font-family: TT Lakes-Bold;
  src: url('fonts/TTLakes-Bold.ttf');
}

@font-face {
  font-family: TT Lakes-Medium;
  src: url('fonts/TTLakes-Medium.ttf');
}
