@import 'colors.scss';
@import 'fonts.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

.mobile-menu {
    display: block;
    margin: 0 auto;
    width: 320px;
    height: auto;
    background: $white;
    box-shadow: -2px 0px 4px $dark_blue, 16px 0px 52px $blue;
    @media (max-width: 359px) {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 320px;
        z-index: 2;
    }
    @media (max-width: 767px) {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 320px;
        z-index: 2;
    }
    @media (max-width: 1335px) {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 360px;
        z-index: 2;
    }
    @media (min-width: 1336px) {
        max-width: 306px;
        height: 100%;
    }
    &__item:first-child {
        padding: 18.59px 14px;
    }
    &__item:nth-child(2) {
        padding: 24px;
        margin-top: 46px;
    }
    &__item:last-child {
        padding-left: 24px;
        padding-bottom: 32px;
        margin-top: 268px;
        @media (max-width: 767px) {
            margin-top: 32px;
        }
        @media (min-width: 768px) {
            margin-top: 268px;
        }
    }
}

.menu-close {
    padding: 0;
    margin: 0;
    width: 40px;
    height: 40px;
    background: $white url('img/icons/burgerclose.png');
    border: none;
    &:hover {
        transition-property: transform;
        transition-duration: .5s;
        transform: scale(1.1);
        cursor: pointer;
    }
    @media (min-width: 1336px) {
        display: none;
    }
}

.search {
    padding: 0;
    margin: 0;
    width: 40px;
    height: 40px;
    background: $white url(img/icons/search.png);
    border: none;
    &:hover {
        transition-property: transform;
        transition-duration: .5s;
        transform: scale(1.1);
        cursor: pointer;
    }
}

.mobile-menu-header {
    .logo {
        display: block;
    }
}

.mobile-menu-header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 158px;
}

.mobile-menu-header-right {
    display: flex;
    justify-content: end;
}

.mobile-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 416px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'TT Lakes-Medium';
    &__item {
        margin: 0;
        padding: 0;
        height: 24px;
        font-weight: 500;
        letter-spacing: -0.2px;
        font-size: 16px;
    }
    &__item:not(.mobile-menu-list__item_active):hover {
        cursor: pointer;
    }
    &__item_active {
        display: flex;
        align-items: center;
        color: $grey;
    }
    &__item_active::before {
        content: "";
        margin: 0 20px 0 -24px;
        display: block;
        width: 4px;
        height: 32px;
        background: $light_blue;
        border-radius: 0 50px 50px 0;
    }
}

.mobile-menu-footer-icons {
    display: flex;
    justify-content: space-between;
    width: 152px;
    margin: 0;
    padding: 0;
    list-style: none;
    .menu-call {
        width: 40px;
        height: 40px;
        background: $white url(img/icons/call.png);
        border: none;
        &:hover {
            transition-property: transform;
            transition-duration: .5s;
            transform: scale(1.1);
            cursor: pointer;
        }
    }
    .menu-chat {
        width: 40px;
        height: 40px;
        background: #FFFFFF url(img/icons/chat.png);
        border: none;
        &:hover {
            transition-property: transform;
            transition-duration: .5s;
            transform: scale(1.1);
            cursor: pointer;
        }
    }
    .menu-profile {
        width: 40px;
        height: 40px;
        background: #FFFFFF url(img/icons/profile.png);
        border: none;
        &:hover {
            transition-property: transform;
            transition-duration: .5s;
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}

.mobile-menu-contacts-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 68px;
    margin-top: 16px;
    margin-bottom: 40px;
    .email {
        font-family: "TT Lakes-Medium";
        font-weight: 500;
        color: $light_black;
        text-decoration: none;
        font-size: 16px;
        letter-spacing: -0.2px;
      }
    .tel {
        font-family: "TT Lakes-Bold";
        font-weight: 700;
        color: $light_black;
        text-decoration: none;
        font-size: 24px;
        letter-spacing: -0.6px;
    }
}

.mobile-menu-language {
    display: flex;
    justify-content: space-between;
    width: 86px;
    margin: 0;
    padding: 0;
    list-style: none;
    &__item {
        border: none;
    }
    .lang-btn {
        border: none;
        font-family: "TT Lakes-Medium";
        font-weight: 500;
        font-size: 16px;
        background: $white;
        color: #1B1C21;
        &_active {
            color: #7E7E82;
        }
        &:not(.lang-btn_active):hover {
            transition-property: transform;
            transition-duration: .5s;
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}