$white: #FFFFFF;
$dark_white: #F8F8F8;
$grey: #7E7E82;
$border: #EAEAEA;
$light_black: #1B1C21;
$pink: #FF3E79;
$light_blue: #41F6D7;
$light_green: #B8FFEC;
$dark_blue: rgba(69, 79, 126, 0.02);
$blue: rgba(14, 24, 80, 0.2);
$dark_red: rgba(248, 248, 248, 0.0001);
$light_grey: #DDDDDD;
$medium_grey: #B5B6BC;