@import 'colors.scss';

@font-face {
    font-family: TT Lakes-Regular;
    src: url('/fonts/TTLakes-Regular.ttf');
  }
  
  @font-face {
    font-family: TT Lakes-Bold;
    src: url('/fonts/TTLakes-Bold.ttf');
  }
  
  @font-face {
    font-family: TT Lakes-Medium;
    src: url('/fonts/TTLakes-Medium.ttf');
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.repair-gadgets__item:first-child {
    padding: 16px;
    margin-bottom: 16px;
    background: linear-gradient(270deg, $dark_white 0%, $white 98.61%);
}

.repair-gadgets__item:last-child {
    height: 228px;
}

.repair-gadgets-header {
    font-family: 'TT Lakes-Regular';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -.2px;
    color: $grey;
    text-transform: uppercase;
}

.gadgets-wrapper__item {
    position: relative;
    width: 240px;
    height: 160px;
    background: $white;
    border: 1px solid $border;
    border-radius: 6px;
}

.gadgets-wrapper__item_name {
    position: absolute;
    top: 16px;
    left: 16px;
    font-family: 'TT Lakes-Medium';
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -.2px;
    color: $light_black;
}

.gadgets-wrapper__item::after {
    content: '';
    position: absolute;
    right: 16px;
    bottom: 16px;
    display: block;
    width: 40px;
    height: 40px;
    background: url('/img/icons/go.png');
}

.swiper-pagination {
    bottom: 24px !important;
}