@font-face {
  font-family: TT Lakes-Regular;
  src: url("../fonts/TTLakes-Regular.ttf"); }
@font-face {
  font-family: TT Lakes-Bold;
  src: url("../fonts/TTLakes-Bold.ttf"); }
@font-face {
  font-family: TT Lakes-Medium;
  src: url("../fonts/TTLakes-Medium.ttf"); }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

.repair-gadgets {
  background-color: #F8F8F8; }
  .repair-gadgets__item:first-child {
    padding: 16px;
    margin-bottom: 16px;
    background: -webkit-gradient(linear, right top, left top, from(#F8F8F8), color-stop(98.61%, #FFFFFF));
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%); }
  .repair-gadgets__item:nth-child(2) {
    height: 244px; }
    @media (min-width: 768px) {
      .repair-gadgets__item:nth-child(2) {
        height: 160px;
        margin-bottom: 24px; } }
  @media (min-width: 768px) {
    .repair-gadgets__item:nth-child(3) {
      margin-left: 24px;
      padding-bottom: 32px; } }
  .repair-gadgets__item_medium {
    height: 512px !important;
    margin-bottom: 24px;
    padding-right: 24px; }
  .repair-gadgets__item_large {
    height: 344px !important;
    margin-bottom: 24px;
    padding-right: 24px; }

.repair-gadgets-header {
  font-family: 'TT Lakes-Regular';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -.2px;
  color: #7E7E82;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .gadgets-wrapper {
    height: 160px !important;
    display: grid;
    grid-template-columns: repeat(3, minmax(224px, auto));
    grid-template-rows: repeat(3, 160px);
    -webkit-column-gap: 24px;
            column-gap: 24px;
    row-gap: 16px; } }
@media (min-width: 1120px) {
  .gadgets-wrapper {
    height: 160px !important;
    display: grid;
    grid-template-columns: repeat(4, minmax(240px, auto));
    grid-template-rows: repeat(2, 160px);
    -webkit-column-gap: 32px;
            column-gap: 32px;
    row-gap: 24px; } }
.gadgets-wrapper__item {
  position: relative;
  width: 260px;
  height: 200px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px; }
  .gadgets-wrapper__item_hidden {
    display: none; }
  @media (min-width: 768px) {
    .gadgets-wrapper__item {
      width: 224px;
      height: 160px; } }
  .gadgets-wrapper__item::after {
    content: '';
    position: absolute;
    right: 16px;
    bottom: 16px;
    display: block;
    width: 40px;
    height: 40px;
    background: url("../img/icons/go.png"); }
  .gadgets-wrapper__item:hover {
    cursor: pointer; }
  @media (min-width: 768px) {
    .gadgets-wrapper__item:nth-child(2) {
      height: 160px !important;
      margin-bottom: 24px;
      padding-right: 24px; } }
.gadgets-wrapper__item_name {
  position: absolute;
  top: 16px;
  left: 16px;
  font-family: 'TT Lakes-Medium';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -.2px;
  color: #1B1C21; }

.swiper-pagination {
  bottom: 16px !important; }

.gadgets-expand-button {
  display: none; }

@media (min-width: 768px) {
  .gadgets-expand-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    width: auto;
    font-family: TT Lakes-Medium;
    font-weight: 500;
    font-size: 16px;
    background-color: #F8F8F8;
    border: none;
    letter-spacing: -0.2px;
    color: #1B1C21; }
    .gadgets-expand-button::before {
      display: block;
      content: "";
      margin: 0;
      padding: 0;
      margin-right: 9px;
      width: 24px;
      height: 24px;
      background-image: url(../img/icons/expand.png); }
    .gadgets-expand-button:hover {
      cursor: pointer; } }

@media (min-width: 768px) {
  .gadgets-collapse-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
    font-family: TT Lakes-Medium;
    font-weight: 500;
    font-size: 16px;
    background-color: #F8F8F8;
    border: none;
    letter-spacing: -0.2px;
    color: #1B1C21; }
    .gadgets-collapse-button::before {
      display: block;
      content: "";
      margin: 0;
      padding: 0;
      margin-right: 9px;
      width: 24px;
      height: 24px;
      background-image: url(../img/icons/expand.png);
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    .gadgets-collapse-button:hover {
      cursor: pointer; } }
