@font-face {
  font-family: TT Lakes-Regular;
  src: url("../fonts/TTLakes-Regular.ttf"); }
@font-face {
  font-family: TT Lakes-Bold;
  src: url("../fonts/TTLakes-Bold.ttf"); }
@font-face {
  font-family: TT Lakes-Medium;
  src: url("../fonts/TTLakes-Medium.ttf"); }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18.59px 16px;
  width: 100%; }
  .header-wrapper-left {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header-wrapper-left > div:not(div:last-child) {
    margin-right: 16px; }
  .header-wrapper-right {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header-wrapper-right > div:not(div:last-of-type) {
    margin-right: 16px; }
  @media (min-width: 1336px) {
    .header {
      width: auto; } }

.logo {
  padding: 0;
  margin: 0;
  width: 96.55px;
  height: 50.81px; }
  @media (min-width: 1336px) {
    .logo {
      display: none; } }

.menu-icon {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  background-image: url(../img/icons/burger.png); }
  .menu-icon:hover {
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer; }
  @media (min-width: 1336px) {
    .menu-icon {
      display: none; } }

.left-vertical-line {
  width: 2px;
  height: 32px;
  background: #EAEAEA; }
  @media (min-width: 320px) {
    .left-vertical-line {
      display: none; } }
  @media (min-width: 768px) {
    .left-vertical-line {
      display: block; } }
  @media (min-width: 1336px) {
    .left-vertical-line {
      display: none; } }

.right-vertical-line {
  width: 2px;
  height: 32px;
  background: #EAEAEA; }
  @media (min-width: 1336px) {
    .right-vertical-line {
      display: none; } }

.call {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  background: #FFFFFF url(../img/icons/call.png);
  border: none; }
  .call:hover {
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer; }
  @media (min-width: 320px) {
    .call {
      display: none; } }
  @media (min-width: 768px) {
    .call {
      display: block; } }
  @media (min-width: 1336px) {
    .call {
      display: none; } }

.profile {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  background: #FFFFFF url(../img/icons/profile.png);
  border: none; }
  .profile:hover {
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer; }
  @media (min-width: 320px) {
    .profile {
      display: none; } }
  @media (min-width: 768px) {
    .profile {
      display: block; } }
  @media (min-width: 1336px) {
    .profile {
      display: none; } }

.chat {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  background: #FFFFFF url(../img/icons/chat.png);
  border: none; }
  .chat:hover {
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer; }
  @media (min-width: 320px) {
    .chat {
      display: none; } }
  @media (min-width: 768px) {
    .chat {
      display: block; } }
  @media (min-width: 1336px) {
    .chat {
      display: none; } }

.repair-icon {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  background: #FFFFFF url(../img/icons/repair.png); }
  .repair-icon:hover {
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer; }

.icon-description:hover {
  cursor: pointer; }
@media (min-width: 320px) {
  .icon-description {
    display: none; } }
@media (min-width: 768px) {
  .icon-description {
    display: none; } }
@media (min-width: 1336px) {
  .icon-description {
    display: block;
    font-family: 'TT Lakes-Medium';
    font-weight: 500;
    font-size: 16px; } }

.checkstatus-icon {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  background-image: url(../img/icons/checkstatus.png); }
  .checkstatus-icon:hover {
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer; }

.main {
  background-color: #F8F8F8;
  margin-top: 24px; }

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .title__decoration {
    margin: 0;
    padding: 0;
    width: 4px;
    height: 40px;
    margin-right: 12px;
    background-color: #41F6D7;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px; }
  .title__text {
    margin: 0;
    padding: 0;
    height: 40px;
    font-size: 28px;
    font-family: 'TT Lakes-Bold';
    font-weight: 700; }
  @media (min-width: 1336px) {
    .title {
      width: auto; } }

.menu {
  overflow: scroll; }
  .menu::-webkit-scrollbar {
    width: 0; }
  @media (min-width: 1336px) {
    .menu {
      overflow: hidden; } }

.list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 40px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .list__item {
    margin: 0;
    padding: 7px 20px;
    -ms-flex-item-align: baseline;
        align-self: baseline;
    font-family: TT Lakes-Medium;
    font-weight: 500;
    font-size: 16px; }
  .list__item:not(.list__item_item-switched):hover {
    cursor: pointer; }
  .list__item_item-switched {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #FFFFFF; }
  @media (min-width: 1120px) {
    .list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100%;
      height: auto; } }

.text-wrapper {
  margin-top: 16px;
  margin-bottom: 20px; }
  .text-wrapper__item {
    margin-bottom: 10px; }

.text {
  height: auto;
  width: auto;
  font-family: TT Lakes-Regular;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px; }

@media (min-width: 320px) {
  .hidden-text-1 {
    display: none; } }
@media (min-width: 768px) {
  .hidden-text-1 {
    display: inline; } }

@media (min-width: 320px) {
  .hidden-text-2 {
    display: none; } }
@media (min-width: 1120px) {
  .hidden-text-2 {
    display: inline; } }

@media (min-width: 320px) {
  .hidden-text-3 {
    display: none; } }

@media (min-width: 320px) {
  .open-text {
    display: inline; } }

@media (min-width: 768px) {
  .section-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }
@media (min-width: 1120px) {
  .section-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; } }

.continue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  font-family: TT Lakes-Medium;
  font-weight: 500;
  font-size: 14px;
  background-color: #F8F8F8;
  border: none; }
  .continue::before {
    display: block;
    content: "";
    margin: 0;
    padding: 0;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    background-image: url(../img/icons/expand.png); }
  .continue:hover {
    cursor: pointer; }

.body-wrapper__item {
  margin-top: 10px;
  padding: 0 16px;
  padding-bottom: 0; }

.cps-image {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto; }
  @media (min-width: 768px) {
    .cps-image {
      width: 720px;
      height: 208px; } }
  @media (min-width: 1120px) {
    .cps-image {
      height: auto; } }

.return {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  font-family: TT Lakes-Medium;
  font-weight: 500;
  font-size: 14px;
  background-color: #F8F8F8;
  border: none;
  letter-spacing: -0.2px;
  color: #1B1C21; }
  .return::before {
    display: block;
    content: "";
    margin: 0;
    padding: 0;
    margin-right: 9px;
    width: 24px;
    height: 24px;
    background-image: url(../img/icons/expand.png);
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .return:hover {
    cursor: pointer; }

@media (min-width: 1336px) {
  .site-wrapper {
    min-width: 1336px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch; } }
.site-wrapper__item:nth-child(1) {
  height: auto; }
  @media (min-width: 1336px) {
    .site-wrapper__item:nth-child(1) {
      width: 306px;
      height: auto; } }
@media (min-width: 1120px) {
  .site-wrapper__item:nth-child(2) {
    max-width: 1120px;
    margin: 0 auto;
    background-color: #F8F8F8; } }
@media (min-width: 1440px) {
  .site-wrapper__item:nth-child(2) {
    width: 1120px;
    margin: 0;
    background-color: #F8F8F8; } }
@media (min-width: 1440px) {
  .site-wrapper__item:nth-child(3) {
    height: auto; } }
@media (min-width: 1440px) {
  .site-wrapper__item:nth-child(4) {
    height: auto; } }

@media (min-width: 1336px) {
  .header-block-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #F8F8F8; } }

.main-footer {
  background: #F8F8F8;
  font-family: 'TT Lakes-Medium';
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #7E7E82; }
  @media (min-width: 768px) {
    .main-footer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 81px; } }
  .main-footer__item {
    margin-bottom: 16px; }
    @media (min-width: 768px) {
      .main-footer__item:nth-child(1) {
        text-align: start;
        margin-left: 24px; } }
    @media (min-width: 768px) {
      .main-footer__item:nth-child(3) {
        text-align: end;
        margin-right: 24px; } }
