@import 'colors.scss';
@import 'fonts.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.site-wrapper {
    &__item {
        &_hidden {
            @media (max-width: 1335px) {
                display: none;
            }
        }
        &_transparent {
            opacity: .1;
        }
    }
}

.feedback {
    width: 320px;
    height: 150%;
    position: absolute;
    right: 0;
    top: 0;
    background: $white;
    box-shadow: -2px 0px 4px $dark_blue, 16px 0px 52px $blue;
    @media (min-width: 1336px) {
        position: fixed;
        height: 100%;
        width: 440px;
    }
    &_hidden {
        display: none;
    }
    &__item {
        &:nth-child(1) {
            margin: 24px 0 40px 16px;
        }
        &:nth-child(2) {
            margin-bottom: 24px;
        }
        &:nth-child(3) {
            margin-left: 16px;
            margin-bottom: 16px;
            @media (min-width: 1440px) {
                margin-left: 32px;
            }
        }
        &:nth-child(4) {
            width: 288px;
            padding: 0 16px;
            margin-bottom: 19px;
            @media (min-width: 1440px) {
                width: 376px;
            }
        }
        &:nth-child(5) {
            margin-left: 168px;
            @media (min-width: 1440px) {
                margin-left: 272px;
            }
        }
    }
}

.close-button {
    padding: 0;
    margin: 0;
    width: 40px;
    height: 40px;
    background: $white url('../img/icons/burgerclose.png');
    border: none;
    @media (min-width: 1440px) {
        position: absolute;
        right: 473px;
        top: 40px;
    }
    &:hover {
        transition-property: transform;
        transition-duration: .5s;
        transform: scale(1.1);
        cursor: pointer;
    }
}

.feedback-title {
    display: flex;
    align-items: center;
    font-family: 'TT Lakes-Bold';
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -.6px;
    color: $light_black;
    &::before {
        content: "";
        margin-right: 12px;
        display: block;
        width: 4px;
        height: 40px;
        background: $light_blue;
        border-radius: 0 50px 50px 0;
    }
}

.feedback-inputs {
    &__item {
        width: 288px;
        height: 48px;
        margin-bottom: 16px;
        padding: 16px;
        border: 1px solid $border;
        border-radius: 8px;
        font-family: 'TT Lakes-Medium';
        font-weight: 500;
        font-size: 16px;
        letter-spacing: .2px;
        color: $medium_grey;
        @media (min-width: 1440px) {
            width: 376px;
        }
        &:last-child {
            height: 118px;
            margin-bottom: 0;
        }
    }
}

.feedback-text {
    font-family: 'TT Lakes-Medium';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $medium_grey;
    &_link {
        text-decoration: none;
        color: $pink;
    }
}

.feedback-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 119px;
    height: 32px;
    background: $pink;
    border-radius: 16px;
    border: none;
    &:hover {
        cursor: pointer;
    }
    &__item {
        &:first-child {
            background: $pink;
            border-radius: 16px;
            border: none;
            font-family: 'TT Lakes-Bold';
            font-weight: 700;
            font-size: 12px;
            letter-spacing: -0.15px;
            text-transform: uppercase;
            color: $white;
            &:hover {
                cursor: pointer;
            }
        }
        &:last-child {
            width: 7px;
            height: 9.63px;
            background: url(../img/icons/dropdown.png);
        }
    }
}

.callback {
    width: 320px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: $white;
    box-shadow: -2px 0px 4px $dark_blue, 16px 0px 52px $blue;
    @media (min-width: 1336px) {
        position: fixed;
        height: 100%;
        width: 440px;
    }
    &_hidden {
        display: none;
    }
    &__item {
        &:nth-child(1) {
            margin: 24px 0 40px 16px;
        }
        &:nth-child(2) {
            margin-bottom: 24px;
        }
        &:nth-child(3) {
            margin-left: 16px;
            margin-bottom: 16px;
            @media (min-width: 1440px) {
                margin-left: 32px;
            }
        }
        &:nth-child(4) {
            width: 288px;
            padding: 0 16px;
            margin-bottom: 19px;
            @media (min-width: 1440px) {
                width: 376px;
            }
        }
        &:nth-child(5) {
            margin-left: 168px;
            @media (min-width: 1440px) {
                margin-left: 272px;
            }
        }
    }
}

.close-button {
    padding: 0;
    margin: 0;
    width: 40px;
    height: 40px;
    background: $white url('../img/icons/burgerclose.png');
    border: none;
    @media (min-width: 1440px) {
        position: absolute;
        right: 473px;
        top: 40px;
    }
    &:hover {
        transition-property: transform;
        transition-duration: .5s;
        transform: scale(1.1);
        cursor: pointer;
    }
}

.callback-title {
    display: flex;
    align-items: center;
    font-family: 'TT Lakes-Bold';
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -.6px;
    color: $light_black;
    &::before {
        content: "";
        margin-right: 12px;
        display: block;
        width: 4px;
        height: 40px;
        background: $light_blue;
        border-radius: 0 50px 50px 0;
    }
}

.callback-inputs {
    &__item {
        width: 288px;
        height: 48px;
        margin-bottom: 16px;
        padding: 16px;
        border: 1px solid $border;
        border-radius: 8px;
        font-family: 'TT Lakes-Medium';
        font-weight: 500;
        font-size: 16px;
        letter-spacing: .2px;
        color: $medium_grey;
        @media (min-width: 1440px) {
            width: 376px;
        }
    }
}

.callback-text {
    font-family: 'TT Lakes-Medium';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $medium_grey;
    &_link {
        text-decoration: none;
        color: $pink;
    }
}

.callback-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 119px;
    height: 32px;
    background: $pink;
    border-radius: 16px;
    border: none;
    &:hover {
        cursor: pointer;
    }
    &__item {
        &:first-child {
            background: $pink;
            border-radius: 16px;
            border: none;
            font-family: 'TT Lakes-Bold';
            font-weight: 700;
            font-size: 12px;
            letter-spacing: -0.15px;
            text-transform: uppercase;
            color: $white;
            &:hover {
                cursor: pointer;
            }
        }
        &:last-child {
            width: 7px;
            height: 9.63px;
            background: url(../img/icons/dropdown.png);
        }
    }
}