@import 'colors.scss';
@import 'fonts.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.prices {
    background-color: $dark_white;
    &__item:first-child {
        padding: 16px;
        margin-bottom: 16px;
        background: linear-gradient(270deg, $dark_white 0%, $white 98.61%);
        @media (min-width: 768px) {
            padding: 16px 24px;
        }
    }
    &__item:nth-child(2) {
        // padding-left: 8px;
        height: 248px;
        @media (min-width: 768px) {
            height: 388px;
            padding: 0;
            padding-right: 40px;
            margin: 0;
        }
    }
    &__item:nth-child(3) {
        margin: 16px;
        margin-bottom: 16px;
        font-family: 'TT Lakes-Regular';
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: .2px;
        color: $light_black;
        @media (min-width: 768px) {
            margin: 24px;
            width: 421px;
        }
    }
    &__item:nth-child(4) {
        padding: 16px 16px 40px 16px;
        @media (min-width: 768px) {
            padding: 16px 16px 40px 24px;
        }
    }
}

.prices-header {
    font-family: 'TT Lakes-Regular';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -.2px;
    color: $grey;
    text-transform: uppercase;
}

.prices-wrapper {
    @media (min-width: 768px) {
        display: grid;
        min-width: 720px;
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 64px);
        background: $white;
        margin: 0;
    }
    &__item {
        position: relative;
        width: 260px;
        height: 200px;
        padding: 16px;
        background: $white;
        border-radius: 6px;
        font-family: 'TT Lakes-Regular';
        font-weight: 400;
        font-size: 14px;
        letter-spacing: .2px;
        color: $light_black;
        &::before {
            content: '';
            position: absolute;
            height: 2px;
            width: 96%;
            top: 62px;
            left: 16px;
            background: $dark-white;
        }
        @media (min-width: 768px) {
            width: 100%;
            height: 64px;
        }
    }
}

.prices-card-header {
    font-family: 'TT Lakes-Medium';
    font-weight: 500;
    font-size: 14px;
    color: $grey;
    opacity: 0.72;
    @media (min-width: 768px) {
        display: none;
    }
}

.order-button-wrapper {
    position: absolute;
    right: 16px;
    bottom: 16px;
    @media (min-width: 768px) {
        position: static;
    }
}

.order-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 119px;
    height: 32px;
    background: $pink;
    border-radius: 16px;
    border: none;
    &:hover {
        cursor: pointer;
    }
    &__item:first-child {
        font-family: 'TT Lakes-Bold';
        font-weight: 700;
        font-size: 12px;
        letter-spacing: -0.15px;
        text-transform: uppercase;
        color: $white;
    }
    &__item:last-child {
        width: 7px;
        height: 9.63px;
        background: url(../img/icons/dropdown.png);
    }
    &_hidden {
        visibility: hidden;
    }
}

.swiper-pagination {
    bottom: 16px !important;
}

.get-offer-button {
    position: relative;
    border: none;
    background: $dark_white;
    display: flex;
    width: 202px;
    height: 54px;
    font-family: 'TT Lakes-Medium';
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -.2px;
    color: $light_black;
    text-align: start;
    &::after {
        content: '';
        position: absolute;
        top: 27px;
        left: 110px;
        width: 24px;
        height: 27.49px;
        background: url(../img/icons/Line.png) no-repeat;
        @media (min-width: 768px) {
            top: 6px;
            left: 300px;
        }
    }
    @media (min-width: 768px) {
        width: 316px;
    }
    &:hover {
        cursor: pointer;
    }
}

.prices-card {
    &:nth-child(1) {
        display: none;
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: $dark-white;
            color: $grey;
        }
    }
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        &:nth-child(2) {
            @media (min-width: 768px) {
                min-width: 348px;
            }
        }
        &:nth-child(4) {
            @media (min-width: 768px) {
                min-width: 74px;
            }
        }
        &:nth-child(6) {
            @media (min-width: 768px) {
                width: 81px;
            }
        }
        &:nth-child(7) {
            @media (min-width: 768px) {
                width: 119px;
            }
        }
    }
}

