@font-face {
  font-family: TT Lakes-Regular;
  src: url("../fonts/TTLakes-Regular.ttf"); }
@font-face {
  font-family: TT Lakes-Bold;
  src: url("../fonts/TTLakes-Bold.ttf"); }
@font-face {
  font-family: TT Lakes-Medium;
  src: url("../fonts/TTLakes-Medium.ttf"); }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

.prices {
  background-color: #F8F8F8; }
  .prices__item:first-child {
    padding: 16px;
    margin-bottom: 16px;
    background: -webkit-gradient(linear, right top, left top, from(#F8F8F8), color-stop(98.61%, #FFFFFF));
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%); }
    @media (min-width: 768px) {
      .prices__item:first-child {
        padding: 16px 24px; } }
  .prices__item:nth-child(2) {
    height: 248px; }
    @media (min-width: 768px) {
      .prices__item:nth-child(2) {
        height: 388px;
        padding: 0;
        padding-right: 40px;
        margin: 0; } }
  .prices__item:nth-child(3) {
    margin: 16px;
    margin-bottom: 16px;
    font-family: 'TT Lakes-Regular';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .2px;
    color: #1B1C21; }
    @media (min-width: 768px) {
      .prices__item:nth-child(3) {
        margin: 24px;
        width: 421px; } }
  .prices__item:nth-child(4) {
    padding: 16px 16px 40px 16px; }
    @media (min-width: 768px) {
      .prices__item:nth-child(4) {
        padding: 16px 16px 40px 24px; } }

.prices-header {
  font-family: 'TT Lakes-Regular';
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -.2px;
  color: #7E7E82;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .prices-wrapper {
    display: grid;
    min-width: 720px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 64px);
    background: #FFFFFF;
    margin: 0; } }
.prices-wrapper__item {
  position: relative;
  width: 260px;
  height: 200px;
  padding: 16px;
  background: #FFFFFF;
  border-radius: 6px;
  font-family: 'TT Lakes-Regular';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .2px;
  color: #1B1C21; }
  .prices-wrapper__item::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 96%;
    top: 62px;
    left: 16px;
    background: #F8F8F8; }
  @media (min-width: 768px) {
    .prices-wrapper__item {
      width: 100%;
      height: 64px; } }

.prices-card-header {
  font-family: 'TT Lakes-Medium';
  font-weight: 500;
  font-size: 14px;
  color: #7E7E82;
  opacity: 0.72; }
  @media (min-width: 768px) {
    .prices-card-header {
      display: none; } }

.order-button-wrapper {
  position: absolute;
  right: 16px;
  bottom: 16px; }
  @media (min-width: 768px) {
    .order-button-wrapper {
      position: static; } }

.order-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 119px;
  height: 32px;
  background: #FF3E79;
  border-radius: 16px;
  border: none; }
  .order-button:hover {
    cursor: pointer; }
  .order-button__item:first-child {
    font-family: 'TT Lakes-Bold';
    font-weight: 700;
    font-size: 12px;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    color: #FFFFFF; }
  .order-button__item:last-child {
    width: 7px;
    height: 9.63px;
    background: url(../img/icons/dropdown.png); }
  .order-button_hidden {
    visibility: hidden; }

.swiper-pagination {
  bottom: 16px !important; }

.get-offer-button {
  position: relative;
  border: none;
  background: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 202px;
  height: 54px;
  font-family: 'TT Lakes-Medium';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -.2px;
  color: #1B1C21;
  text-align: start; }
  .get-offer-button::after {
    content: '';
    position: absolute;
    top: 27px;
    left: 110px;
    width: 24px;
    height: 27.49px;
    background: url(../img/icons/Line.png) no-repeat; }
    @media (min-width: 768px) {
      .get-offer-button::after {
        top: 6px;
        left: 300px; } }
  @media (min-width: 768px) {
    .get-offer-button {
      width: 316px; } }
  .get-offer-button:hover {
    cursor: pointer; }

.prices-card:nth-child(1) {
  display: none; }
  @media (min-width: 768px) {
    .prices-card:nth-child(1) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background: #F8F8F8;
      color: #7E7E82; } }
@media (min-width: 768px) {
  .prices-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }
@media (min-width: 768px) {
  .prices-card__item:nth-child(2) {
    min-width: 348px; } }
@media (min-width: 768px) {
  .prices-card__item:nth-child(4) {
    min-width: 74px; } }
@media (min-width: 768px) {
  .prices-card__item:nth-child(6) {
    width: 81px; } }
@media (min-width: 768px) {
  .prices-card__item:nth-child(7) {
    width: 119px; } }
