@import 'colors.scss';
@import 'fonts.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

.repair-container {
    background: $dark-white;
    @media  (min-width: 1120px) {
        max-width: 1120px;
        margin: 0 auto;
    }
    &__item:nth-child(1) {
        padding: 16px;
        margin-bottom: 24px;
        background: linear-gradient(270deg, $dark-white 0%, $white 98.61%);
    }
    &__item:nth-child(2) {
        margin-bottom: 24px;
    }
    &__item:nth-child(3) {
        padding-bottom: 32px;
    }
}

.repair-header {
    font-family: 'TT Lakes-Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $grey;
    letter-spacing: -0.2px;
    text-transform: uppercase;
}

.label-wrapper {
    height: 122px;
    @media (min-width: 768px) {
        height: 160px !important;
        display: grid;
        grid-template-columns: repeat(3, minmax(224px, 1fr));
        grid-template-rows: repeat(2, 72px);
        column-gap: 24px;
        row-gap: 16px;
    }
    @media (min-width: 1120px) {
        display: grid;
        grid-template-columns: repeat(4, 240px);
        grid-template-rows: repeat(2, 72px);
        column-gap: 32px;
        row-gap: 16px;
    }
    &__item {
        width: 240px;
        height: 72px;
        background: $white;
        border: 1px solid $border;
        border-radius: 6px;
        &::after {
            content: '';
            display: block;
            width: 40px;
            height: 40px;
            margin-left: 184px;
            background: url('../img/icons/go.png');
            @media (min-width: 768px) {
                margin-left: 168px;
            }
        }
        &:hover {
            @media (min-width: 768px) {
                cursor: pointer;
            }
        }
        
        &:nth-child(1) {
            background: 16px 50% url('../img/labels/BitmapLenovo.png') no-repeat;
        }
        &:nth-child(2) {
            background: 16px 50% url('../img/labels/BitmapSamsung.png') no-repeat;
        }
        &:nth-child(3) {
            background: 16px 50% url('../img/labels/BitmapApple.png') no-repeat;
        }
        &:nth-child(4) {
            background: 16px 50% url('../img/labels/BitmapViewSonic.png') no-repeat;
        }
        &:nth-child(5) {
            background: 16px 50% url('../img/labels/BitmapBosch.png') no-repeat;
        }
        &:nth-child(6) {
            background: 16px 50% url('../img/labels/BitmapHP.png') no-repeat;
        }
        &:nth-child(7) {
            background: 16px 50% url('../img/labels/BitmapAcer.png') no-repeat;
        }
        &:nth-child(8) {
            background: 16px 50% url('../img/labels/BitmapSony.png') no-repeat;
        }
        &:nth-child(9) {
            background: 16px 50% url('../img/labels/BitmapLenovo.png') no-repeat;
        }
        &:nth-child(10) {
            background: 16px 50% url('../img/labels/BitmapSamsung.png') no-repeat;
        }
        &:nth-child(11) {
            background: 16px 50% url('../img/labels/BitmapApple.png') no-repeat;
        }
        &_hidden {
            display: none;
        }
        
    }
    &_expended {
        @media (min-width: 768px) {
            height: 526px !important;
            grid-template-columns: repeat(3, minmax(224px, 1fr));
            grid-template-rows: repeat(4, 72px);
            column-gap: 24px;
            row-gap: 16px;
        }
    }
}

.repair-main {
    &::after {
        content: '';
        position: absolute;
        top: 11px;
        right: 0;
        width: 24px;
        height: 81px;
        background: linear-gradient(270deg, $dark-white 16.84%, $dark_red 100%);
        z-index: 1;
        @media (min-width: 768px) {
            display: none;
        }
    }
    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 160px;
    }
    &__item {
        &:nth-child(2)  {
            @media (min-width: 768px) {
                padding-left: 24px;
            }
        }
    }
    &_expanded {
        @media (min-width: 768px) {
            height: 408px; 
        }
        @media (min-width: 768px) {
            height: 356px; 
        }
    }
}

.swiper-pagination {
    bottom: 38px !important;
}

.swiper-pagination-bullet {
    background: $light_grey;
}

.swiper-pagination-bullet-active {
    background: $medium_grey;
}

.expand {
    display: none;
    &_hidden {
        display: none;
    }
    @media (min-width: 768px) {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        height: auto;
        width: auto;
        font-family: 'TT Lakes-Medium';
        font-weight: 500;
        font-size: 16px;
        background-color: $dark-white;
        border: none;
        letter-spacing: -0.2px;
        color: $light_black; 
    }
    &::before {
        @media (min-width: 768px) {
            display: block;
            content: "";
            margin: 0;
            padding: 0;
            margin-right: 9px;
            width: 24px;
            height: 24px;
            background-image: url(../img/icons/expand.png);
        }
    }
    &:hover {
        @media (min-width: 768px) {
            cursor: pointer; 
        } 
    }
}

.collapse {
    display: none;
    &_hidden {
        display: none;
    }
    @media (min-width: 768px) {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        height: auto;
        width: auto;
        font-family: 'TT Lakes-Medium';
        font-weight: 500;
        font-size: 16px;
        background-color: $dark-white;
        border: none;
        letter-spacing: -0.2px;
        color: $light_black;
    }
    &::before {
        @media (min-width: 768px) {
            display: block;
            content: "";
            margin: 0;
            padding: 0;
            margin-right: 9px;
            width: 24px;
            height: 24px;
            background-image: url(../img/icons/expand.png);
            transform: rotate(180deg);
        }
    }
}

.swiper-pagination {
    @media (min-width: 768px) {
        display: none;
    }
}